body{
    font-family: 'Ubuntu', sans-serif;
   margin: 0;
}
p{
    font-size: 20px;
    line-height: 1.5;
}

h1{
    font-size: 50px;
    font-weight: 900;
    line-height: 0.5;
}
.c1{
    color: rgb(170, 7, 7);
}
.c2{
    color: rgb(240, 144, 60);
}
.flex-container{
    display: flex;
    margin-bottom: 80px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
div img{
    height: 350px;
    width: 380px;
}
.button{
    text-decoration: none;
    border-radius: 20px;
    background-image: linear-gradient(rgb(197, 13, 44),tomato);
    padding: 10px 30px;
    color: white;
    font-weight: 700;

}
.back-banner{
    background-image: url(shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#img1{
    height: 500px;
    width: 550px;
}
#img2{
    height: 500px;
    width: 550px;
    position: relative;
    right: 20px;
    bottom: -80px;
}
.text-format{
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 100px;
    text-align: justify;
    margin-top: 150px;
}
#recipie-f{
text-align: center;
padding: 5%;
}
.sec-3{
    box-shadow: 10px 10px 40px black;
width: 25%;
margin-left: 3%;
margin-right: 3%;
padding: 12px;
border-radius: 5%;
}
footer{
    
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgb(9, 97, 97);
    color: white;
}
.recipie-pic{
    border-radius: 10px;
}
header{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(9, 97, 97);
    color: whitesmoke;
}